@use '../helpers' as *;

.customers {
  &__inner {
    @include mobile {
      align-items: center;
      justify-content: center;
    }
  }

  &__body {
    max-width: rem(800);
  }

  &__images {
    flex: 0 1 auto;
    min-width: rem(285);

    img {
      max-width: 100%;
    }

    @include mobile {
      min-width: auto;
    }
  }

  &__title {

    span:first-child {
      color: #c084fc;
    }

    span:nth-child(2) {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: rem(-10);
        translate: 0 -50%;
        width: rem(80);
        height: rem(80);
        background-color: #be185d;
        z-index: -50;
      }
    }
  }
}
